<h2 class="mt-4">Votar por el juego del año</h2>
<hr>
<div class="row">
    <div class="col">
        <div class="card-columns">
            <div *ngFor="let item of juegos" class="card">
                <img [src]="item.url" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{item.name}}</h5>
                    <p class="card-text">Click para votar</p>
                    <button (click)="votarJ(item)" class="btn btn-outline-primary btn-block">Votar</button>
                </div>
            </div>    
        </div>
    </div>
</div>